@use '_commons' as c;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Inicio Estilo para index */
#contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 3fr 2fr 200px;
    justify-items: flex-start;
    grid-template-areas:
        "cabeza"
        "principal"
        "servicios"
        "pie"
    ;
}

/* Inicio Cabeza */
#cabeza {
    grid-area: cabeza;
    width: 100%;
}

.encabezado {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.encabezado__logo {
    width: 50%;
    height: 50px;
    margin: 10px 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin: 10px 0px 0px 10px;
        align-self: center;
    }
}
/* Fin Cabeza */

/* Inicio Pirncipal */

#principal {
    grid-area: principal;
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 20vh;
    font-family: 'Signerica Medium', sans-serif;
    font-size: 50px;
    margin: 10px 100px 90px;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 100px;
    color: map-get(c.$colores, "letra");
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    background: map-get(c.$colores, "titulo");
    text-align: center;
    line-height: 100px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 17px 0px rgba(125, 116, 106, 0.9);
    -webkit-box-shadow: 10px 10px 17px 0px rgba(125, 116, 106, 0.9);
    -moz-box-shadow: 10px 10px 17px 0px rgba(125, 116, 106, 0.9);
}

#fotos {
    width: 100%;
    height: auto;
}

.fotos__inicio__ok{
     p{
    font-family: sans-serif;
    margin: 40px 10px;
    font-size: 19px;
    text-align: center;
    font-weight: lighter;
    }   
    img {
        width: 90%;
        height: auto;
        object-fit: contain;
        box-shadow: 0px 0px 24px 8px rgb(0 0 0 / 15%);
        margin: 40px 30px;
        border-radius: 10px;
    }
}
.fotos__inicio__ok--dif {
    display: none;
}

/* Fin Principal */

/* Inicio Servicios */
#servicios {
    grid-area: servicios;
}

.servicios {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

.servicios__demandados {
    text-align: center;
 } 

.servicios__demandados__tipo p {
    font-family: sans-serif;
    font-size: 20px;
    background-color: map-get(c.$colores, "servicios");
    width: 50%;
    height: 60px;
    margin: 60px 150px;
    line-height: 3;
    border-radius: 5px;
    color: #575859;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.055);
}

.servicios__demandados__cuerpo p {
    font-family: sans-serif;
    font-size: 18px;
    width: 90%;
    height: auto;
    color: #575859;
    margin-left: 20px;
}

/* Fin Servicios */


/* Fin Estilo CSS para index */


/* Sobre mí */
.carousel-inner {
    margin: 10px 0;
    width: 80%;
    height: auto;
    padding: 100px;
}

/* Estilos CSS a Servicios */
.h1_dif {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

h1 a,
h1 a:link {
    text-decoration: none;
    display: block;
    width: auto;
    height: 10vh;
    font-family: 'Signerica Medium', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin: 30px 70px;
    text-align: center;
    color: #575859;
}

h2 a {
    text-decoration: none;
}

.menu__servicios ul {
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    transform: .5s;
    list-style: none;
    margin: 50px 10px;
}

.menu__servicios ul li {
    color: #575859;
    font-family: sans-serif;
    font-size: 16px;
}

.menu__servicios ul a:link {
    color: #d18a8a;
}

.menu__servicios ul a:visited {
    color: #575859;
}

.menu__servicios ul a:hover {
    background-color: #c5bebb;
    color: #fff;
    transform: .5s;
}

.foto__novia img {
    width: 80%;
    margin: 30px 50px;
}

/* Fin estilos CSS a Servicios */

/* Estilos CSS a Estudio */
video {
    width: 100%;
    height: 500px;
}

/* Fin estilos CSS a Estudio */

/* Estilos CSS a contacto */
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}

.datos {
    font-family: sans-serif;
    font-size: 18px;
    color: #575859;
    font-style: oblique;
}

.requerido {
    width: 300px;
    height: 40px;
    font-family: sans-serif;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    background: #fcd6c6;
    border-style: none;
}


  